@model List<AdministratorIndexVM>
@{

}

<h2>TeacherRegistration</h2>

<h3>Tabela</h3>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Username</th>
            <th>DateAdded</th>
            <th>AdministratorRole</th>
            <th>AdministratorCity</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Buttons</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.FullName</td>
            <td>@item.UserName</td>
            <td>@item.DateAdded</td>
            <td>@item.AdministratorRole</td>
            <td>@item.AdministratorCity</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>
                <a asp-action="RemoveAdministrator" asp-route-id="@item.Id" class="btn btn-danger">Obrisi sve</a>
            </td>
            


        </tr>
        }
    </tbody>

</table>
<a asp-action="AddAdministrator" class="btn btn-danger">Dodaj</a>
<a asp-action="Obrisi" class="btn btn-danger">Obrisi sve</a>



